# Github-linguist language hints
*.h linguist-language=C++
*.cpp linguist-language=C++

# Line endings harmony
* text=auto eol=lf

# binary files
*.ai binary

# Export
VERSION export-subst
HASH export-subst
